<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteRule gradient_(.*)_(.*)_(.*)_(.*).png$ core/image/gradient_bg.php?width=$1&height=$2&top=$3&bot=$4 [NC]
	RewriteRule profile-(.*)$ profile.php?username=$1 [NC]
</IfModule>
